[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
python-decouple = "*"
flask-babel = "*"

[dev-packages]
"flake8" = "*"
faker = "*"
flask-testing = "*"

[requires]
python_version = "3.6"
